{% load static %}

<header>
    <div class="container">
        <nav class="navbar">
            <a style="color: unset; text-decoration-line: none;" href="/">
                <h1 class="logo">{{ header_data.logo_text }}</h1>
            </a>
            <ul class="nav-links">
                <li>
                    <a href="/home" class="{% if request.path == '/home/' %}active{% endif %}" >{{ header_data.nav_main }}</a>
                </li>
                <li>
                    <a href="/faq" class="{% if request.path == '/faq/' %}active{% endif %}" >{{ header_data.nav_about }}</a>
                </li>
                <li>
                    <a href="/account" class="{% if 'login' in request.path or 'account' in request.path%}active{% endif %}">
                        <img height=40 width=40 src="{% static 'imgs/user-icon.png' %}" alt="User Icon"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>