{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="recommendation-buttons">
    <div class="container">
        <div class="stick">
            <div class="text-stack">
                <a href="/get_recommendation">
                    <button class="blank-btn-pink">получить рекомендацию</button>
                </a>
            </div>
            <div class="table-picture">
                <a href="/search_places">
                    <button class="blank-btn-yellow">поиск заведений</button>
                </a>
            </div>
        </div>
    </div>
</section>

{% if favourite_places %}
<section class="carousel-section">
    <div class="container">
        <h2 class="favourites-title">Мои места</h2>
    </div>

    <div class="carousel-container">
        <div class="container">
            <div class="card-container">
                {% for place in favourite_places %}
                <div class="place-card place-card-small" data-place-id="{{ place.id }}">
                    <div class="card-image">
                        <img src="{{ place.photo_link }}" alt="{{ place.name }}">
                    </div>
                    <div class="card-info">
                        <div class="place-name">{{ place.name }}</div>
                        <div class="place-category">{{ place.category }}</div>
                    </div>
                    <div class="card-footer">
                        <div class="heart-icon active"></div>
                    </div>
                </div>
                {% endfor %}

                <div class="navigation">
                    <a href="/home/">
                        <div class="nav-button"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if blacklisted_places %}
<section class="carousel-section">
    <div class="container">
        <h2 class="favourites-title">Черный список</h2>
    </div>

    <div class="carousel-container">
        <div class="container">
            <div class="card-container">
                {% for place in blacklisted_places %}
                <div class="place-card place-card-small" data-place-id="{{ place.id }}">
                    <div class="card-image">
                        <img src="{{ place.photo_link }}" alt="{{ place.name }}">
                    </div>
                    <div class="card-info">
                        <div class="place-name">{{ place.name }}</div>
                        <div class="place-category">{{ place.category }}</div>
                    </div>
                    <div class="card-footer">
                        <div class="broken-heart-icon active"></div>
                    </div>
                </div>
                {% endfor %}

                <div class="navigation">
                    <a href="/home/">
                        <div class="nav-button"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<div class="bottom"></div>


{% block extra_js %}
<script src="{% static 'scripts/place_cards_interactions.js' %}"></script>
{% endblock %}

{% endblock %}