{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="background-image-container">
    <img src="{% static 'imgs/single-recommendation-background.png' %}" alt="Background"
         class="recommendation-background">
</div>

<div class="container">
    <div class="page-header-with-button">
        <div class="return-button">
            <a href="/home/"><img src="{% static 'imgs/return-button.png' %}" alt="Return"></a>
        </div>
        <h2>Получить рекомендацию</h2>
    </div>

    <div class="place-card place-card-big-static" data-place-id="{{ place.id }}">
        <div class="card-image">
            <img src="{{ place.photo_link }}" alt="{{ place.name }}">
        </div>
        <div class="card-info">
            <div class="place-name">{{ place.name }}</div>
            <div class="place-category">{{ place.category }}</div>
            <div class="place-category">{{ place.rating }}</div>
        </div>
        <div class="card-description">
            {{ personalized_description }}
        </div>
        <div class="card-footer">
            <div class="heart-icon"></div>
            <div class="broken-heart-icon"></div>
        </div>
    </div>
</div>

<div class="bottom"></div>

{% block extra_js %}
<script src="{% static 'scripts/place_cards_interactions.js' %}"></script>
{% endblock %}

{% endblock %}
